h1 {
  display: inline;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    purple
  );
  text-shadow:
    -2px 2px black,
    2px -2px black,
    2px 2px black,
    -2px -2px black;
}
body {
  background-color: lightslategray;
}
