.navigate {
  border-radius: 5px;
  padding: 2px;
  background: slateblue;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.link_fb {
  border-radius: 5px;
  padding: 2px;
  background: whitesmoke;
  display: inline-block;
  color: purple;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.font {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: wavy;
  color: brown;
}

h1 {
  border-style: ridge;
  border-radius: 10px;
  text-align: center;
  display: block;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    purple
  );
  text-shadow:
    -2px 2px black,
    2px -2px black,
    2px 2px black,
    -2px -2px black;
}
table {
  margin: 0 auto;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
li {
  list-style-position: inside;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}

body {
  zoom: 150%;
  background-color: #ccbeb1;
}
/*===================================================
ALBUM*/

/* Container chính */
.gallery-container {
  column-count: 2;
  /* Tự động chia cột: tối thiểu 250px, tối đa chiếm hết khoảng trống */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 15px; /* Khoảng cách giữa các ảnh */
  padding: 10px;
  align-items: start;
  grid-template-rows: masonry;
}

/* Item chứa ảnh */
.gallery-item {
  display: inline-block;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  break-inside: avoid;
  margin-bottom: 15px;
}

/* Định dạng ảnh để không bị méo */
.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Giữ tỉ lệ ảnh, cắt bớt phần thừa */
  display: block;
  transition: transform 0.5s ease;
}

/* Hiệu ứng Hover (di chuột vào) */
.gallery-item:hover {
  transform: translateY(-5px); /* Nhấc nhẹ khung ảnh lên */
}

.gallery-item:hover img {
  transform: scale(1.1); /* Phóng to ảnh bên trong */
}

/* Cho máy tính bảng (màn hình rộng hơn 600px) */
@media (min-width: 600px) {
  .gallery-container {
    column-count: 2;
  }
}

/* Cho máy tính để bàn (màn hình rộng hơn 1000px) */
@media (min-width: 1000px) {
  .gallery-container {
    column-count: 4;
  }
}
