h1 {
  border-style: ridge;
  border-radius: 10px;
  text-align: center;
  display: block;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    purple
  );
  text-shadow:
    -2px 2px black,
    2px -2px black,
    2px 2px black,
    -2px -2px black;
}
table {
  margin: 0 auto;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
li {
  list-style-position: inside;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}

body {
  background-color: #ccbeb1;
}
